/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* #inputFormCard {
  width: 48%;
}

.card {
  width: 48%;
}

#formSubmitButton {
  width: 48%;
  margin: 10px;
  float: center;
}

.formItems {
  display: inline-block;
  width: 100%;
}

#formBox {
  display: block;
  text-align: center;
}

#textInput {
  width: 100%;
} */

/* .flexbox-parent {
  display: flex;
  flex-direction: row;

}

.flexbox-child {
  width: 48vw;
}

#posts {
  align-self: flex-end;
} */


